In [2]:
print("hello python")

hello python

In [76]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 35pt;}
div.output { font-size: 16pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 35pt;}
div.prompt { min-width: 100px;}
</style>
"""))

In [13]:
print("파이썬은 쉬워요")

파이썬은 쉬워요

In [19]:
print("실행1")
print("실행2")
# 파이썬의 명령문은 줄단위이다.
print("파이썬은 " + \
      "쉬워요" )

print("실행 1"); print("실행 2")
num = 1
if num >= 1:
    print("1")
    if 1 == 1:
        print("1")

실행1
실행2
파이썬은 쉬워요
실행 1
실행 2
1
1

In [ ]:
# 리터널 : 영어, 한국어, 중국어,..., 숫자(정수 , 실수, 지수)
print("실행")
#        문자열 리터널, 숫자 리터널

In [31]:
# 숫자형 : 숫자 리터널
### 1,2,10, 0.5 10.6
print(1)
print(1 + 10)
### +, - , * , /
print(1 - 10)
print(1 * 10)
print(1 / 10)
###  리터널 값을 저장하는 것을 변수
가 = 1 ## '='을 대입
print(가)
a = 1
print(a)
b = 10
print( a + b)

a = 10# 변수는 오로지 하나의 값만을 저장하기 때문에 마지막 값을 가지게 된다.
b = 3
print(a)
print(b)
print( a + b )
### 나눈 나머지
c = a % b
print(c)
# 몫
c = a // b
print(c)
# 제곱승
c = a ** b
print(c)

#### 숫자 리터널 : 1, 10, 0.5, 10.7
### 숫자 리터널이 사용하는 연산자 : + ,- , *, / , %, // , **

1
11
-9
10
0.1
1
1
11
10
3
13
1
3
1000

In [37]:
### 문자열 리터널 : a, b,c ,d, f,  가,나,...
print("f")
print(1 + 1) # 숫자
print("1" + "1") # ""을 표시하면 문자열
### 숫자 리터널 : 1, 2, 3,
### 문자열 리터널 : "1", "2", "a",...,    a(x) ==> 변수 
print("Life is too short, You need python")
print('Life is too short, You need python')
print("Life's too short, You need python")
print('Life is too short, "You need python"')
### 문자열 : "", ''
print("Life is too short, \"You need python\"")
print('Life\'s too short, You need python')

f
2
11
Life is too short, You need python
Life is too short, You need python
Life's too short, You need python
Life is too short, "You need python"
Life is too short, "You need python"
Life's too short, You need python

In [48]:
'''
print('이
     숭
      무')
'''
print('''이
숭
무''') ### 행 바꿈문자를 사용
print("""이
숭
무""")
print("""Life is too short, 
You need python""")
#### 문자열리터널을 나타내는 기호 : "", '' ,"""""" ,''''''
print(a) # 변수 a
print("a") # 문자열 a
print(1) # 숫자 1
print("1") # 문자열 1
head = "Python "
tail = "is fun"
print(head)
print(tail)
print( 1 + 1) # 2
print(head + tail) # 문자열에서 +는 붙이기 연산자.
# print( 1 + "1" ) # 숫자와 문자열은 +연산을 할 수 없다.
print(head * 3) # 문자열에서 *연산자는 반복 연산자
## 문자열에서의 연산자는 +, *
## 숫자 연산자 : +, -, * ,/ ,%, //, **

이
숭
무
이
숭
무
Life is too short,
You need python
10
a
1
1
Python
is fun
2
Python is fun
Python Python Python

In [50]:
print("결과를 화면에 출력")
a = 1
b = 2
print( a + b)

결과를 화면에 출력
3

In [63]:
# 문자열 인덱싱과 슬라이싱
a = "Life is too short, You need python"
#    0123456789012345678901234567890123
#              1         2         3
#    4321098765432109876543210987654321-
#        3         2         1
print(a)
print(len(a)) # len(a): 자료의 크기를 확인 
# index : 문자열에서 각 문자가 가지고 있는 번호 : 0번부터 시작
# index의 마지막 번호는 크기 보다 1 작다.
print(a[12])
print(a[19])
print(a[6])
print(a[33])
print(a[-1])
# indexing : 각 문자가 가지고 있는 고유의 번호를 이용해서 
#            원하는 문자를 가지고 오는 것을 말한다.
###  index번호 24번과 같은 마이너스 번호는 몇번?
print(a[-10])

Life is too short, You need python
34
s
Y
s
n
n
e

In [64]:
# 문제 : 변수 a에 있는 문자열에서 Life만 출력하시오(+연산자 사용)
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[0]+a[1]+a[2]+a[3])
### slicing : 원하는 문자열을 잘라서 가져오기
b = 5
print(a[0: 0 + 4])
print(a[0: 0 + b])
print(a[10 : 10 + b])
print(a[0:4]) # 0번부터 4전까지 
print(a[10 : 15]) # 10번부터 15번전까지 5글자.

L
i
f
e
Life
Life
Life
o sho
Life
o sho

In [93]:
a = "Life is too short, You need python"
#    0123456789012345678901234567890123
#              1         2         3
#    4321098765432109876543210987654321-
#        3         2         1
## 맨 앞 문자를 출력하시오
print(a[0])
print(a[-34])
### 맨뒤문자를 출력하시오
print(a[-1])
print(a[33])
print(a[len(a)-1])

### slicing 
## python을 출력하시오
print(a[28: 28+ 6])
print(a[28:34])
print(a[28:len(a)])
print(a[-6: 34])
## short를 출력하시오
print(a[12: 17])
print(a[12: 12 + 5])
print(a[-22: -17])
print(a[-22: -22+5])
print(a[-22: 17])
print(a[12: -17])
### Life 를 출력하시오.
print(a[0:4])
print(a[:4]) 
# 처음 부터 출력하는 경우에는 0번 index를 적지 않아도 된다.
# python을 출력
print(a[28: 34])
print(a[28:]) # p부터 마지막까지
print(a[-6:]) 
# 마지막까지 출력할 경우 마지막 index는 적지 않아도 된다.

L
L
n
n
n
python
python
python
python
short
short
short
short
short
short
Life
Life
python
python
python

In [95]:
a = "20001025RheeSoongMoo"
# 날짜와 이름을 분리하여 출력하시오.
print(a[:8])
print(a[8:])
# 년과 월 그리고 일을 따로 출력하시오.
print(a[:4])
print(a[4:4+2])
print(a[6:6+2])

20001025
RheeSoongMoo
2000
10
25

In [99]:
a = "pithon" 
print(a[1])
i = 10
print(i)
i = 20
print(i)
# a[1] = 'y' #문자열에서는 indexing을 이용해서 데이터를 변경할 수
# 없다.
print(a)
a = "python"
print(a)

i
10
20
pithon
python

In [108]:
nai = 25 # decimal (d)
ki = 170.5 #float (f)
name = "이숭무" # string (s)
## 나의 이름은 이숭무이고 나이는 25이며 키는 170.5입니다.
# print("나의 이름은 " + name + "이고 나이는 " + nai)
# 포맷문자 
# 정수 : %d,  실수는 %f , 문자열 %s
print("나의 이름은 %s이고 나이는 %d이며 키는 %f입니다." % \
      (name, nai, ki))
money = 1000
account = '1111'
name = '이숭무'
# 이숭무의 계좌 번호는 1111 이고 잔액은 1000원입니다.
print("%s의 계좌번호는 %s이고 잔액은 %d원입니다." % \
      (name, account, money))
print("%s의 계좌번호는 %s이고 잔액은 %d원입니다." % \
      ('이숭무', '1111', 1000))

나의 이름은 이숭무이고 나이는 25이며 키는 170.500000입니다.
이숭무의 계좌번호는 1111이고 잔액은 1000원입니다.
이숭무의 계좌번호는 1111이고 잔액은 1000원입니다.

In [122]:
age = 30
height = 172.5
name = '이숭무'
print("나의 이름은 %s이고 나이는 %d이며 키는 %f입니다." % \
      (name, age, height))
print("나의 이름은 %s이고 나이는 %d이며 키는 %5.1f입니다." % \
      (name, age, height))
print("나의 이름은 %s이고 나이는 %d이며 키는 %5.2f입니다." % \
      (name, age, height))
print("나의 이름은 %s이고 나이는 %d이며 키는 %5.3f입니다." % \
      (name, age, height))
# 정수부는 출력공간과 상관없이 무조건 출력이 된다.
print("나의 이름은 %s이고 나이는 %d이며 키는 %.3f입니다." % \
      (name, age, height))
print("나의 이름은 %s이고 나이는 %d이며 키는 %.3f입니다." % \
      (name, age, 172.255))
print("나의 이름은 %s이고 나이는 %d이며 키는 %.2f입니다." % \
      (name, age, 172.255))
print("나의 이름은 %s이고 나이는 %d이며 키는 %.2f입니다." % \
      (name, age, 172.256))

나의 이름은 이숭무이고 나이는 30이며 키는 172.500000입니다.
나의 이름은 이숭무이고 나이는 30이며 키는 172.5입니다.
나의 이름은 이숭무이고 나이는 30이며 키는 172.50입니다.
나의 이름은 이숭무이고 나이는 30이며 키는 172.500입니다.
나의 이름은 이숭무이고 나이는 30이며 키는 172.500입니다.
나의 이름은 이숭무이고 나이는 30이며 키는 172.255입니다.
나의 이름은 이숭무이고 나이는 30이며 키는 172.25입니다.
나의 이름은 이숭무이고 나이는 30이며 키는 172.26입니다.

In [130]:
print("나의 이름은 %5s이고 나이는 %5d이며 키는 %10.2f입니다." % \
      (name, age, 172.256))
print("나의 이름은 %-5s이고 나이는 %5d이며 키는 %-10.2f입니다." \
      % (name, age, 172.256))
print("나의 이름은 %s이고 나이는 %s이며 키는 %s입니다." \
      % (name, age, 172.256))

나의 이름은   이숭무이고 나이는    30이며 키는     172.26입니다.
나의 이름은 이숭무  이고 나이는    30이며 키는 172.26    입니다.
나의 이름은 이숭무이고 나이는 30이며 키는 172.256입니다.

In [129]:
print("나의 이름은 %s입니다." % name)
print("나의 이름은 %s입니다." % (name))

나의 이름은 이숭무입니다.
나의 이름은 이숭무입니다.

In [135]:
# format함수 
name = '이숭무'
age = 30
height = 172.5
# 나의 이름은 이숭무이고 나이는 30이며 키는 172.5입니다.
print("나의 이름은 {0}이고 나이는 {1}이며 키는 {2}입니다.".\
      format(name, age, height))
print("나의 이름은 {1}이고 나이는 {0}이며 키는 {2}입니다.".\
      format(age, name,  height))
print("나의 이름은 {1}이고 나이는 {0}이며 키는 {2}입니다.".\
      format(age, name, 172.5))
# 나의 이름은 이숭무입니다.
print("나의 이름은 {0}입니다.".format('이숭무'))
print("나의 이름은 {0}입니다.".format(name))

나의 이름은 이숭무이고 나이는 30이며 키는 172.5입니다.
나의 이름은 이숭무이고 나이는 30이며 키는 172.5입니다.
나의 이름은 이숭무이고 나이는 30이며 키는 172.5입니다.
나의 이름은 이숭무입니다.
나의 이름은 이숭무입니다.

In [144]:
# 인수의 index를 이용하여 출력
print("나의 이름은 {1}이고 나이는 {0}이며 키는 {2}입니다.".\
      format(age, name, 172.5))
# 인수의 index와 이름을 이용해서 출력
print("나의 이름은 {1}이고 나이는 {0}이며 키는 {h}입니다.".\
      format(age, name, h = 172.5))
print(height)
print("나의 이름은 {1}이고 나이는 {0}이며 키는 {h}입니다.".\
      format(age, name, h = height))
'''
print("나의 이름은 {n}이고 나이는 {0}이며 키는 {h}입니다.".\
      format(age, h = height , name))
'''
print("나의 이름은 {n}이고 나이는 {0}이며 키는 {h}입니다.".\
      format(age, h = height , n = name))
# 인수의 이름은 중간에 사용할 수 없다.
# 인수의 이름을 사용할 경우에는 뒤에서 부터 하나씩 
# 앞으로 만들어준다.

나의 이름은 이숭무이고 나이는 30이며 키는 172.5입니다.
나의 이름은 이숭무이고 나이는 30이며 키는 172.5입니다.
172.5
나의 이름은 이숭무이고 나이는 30이며 키는 172.5입니다.
나의 이름은 이숭무이고 나이는 30이며 키는 172.5입니다.

In [145]:
print("나의 이름은 {0}이고 나이는 {1}이며 불로그는 {0}입니다.".\
     format(name, age))

나의 이름은 이숭무이고 나이는 30이며 불로그 이숭무입니다.

In [146]:
# f문자를 이용
name = '이숭무'
age = 35
height = 175.5
print(f"나의 이름은 {name}이고 나이는 {age}이며 키는 {height}입니다.")

나의 이름은 이숭무이고 나이는 35이며 키는 175.5입니다.