In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 35pt;}
div.output { font-size: 16pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 35pt;}
div.prompt { min-width: 100px;}
</style>
"""))

In [11]:
#리터널 : 자연어 (한국어, 영어, 일본, 중국어,...), 숫자
#         a,b,c,d, 가,나,다,라,... , 1,2,3, 10.5
# 숫자 리터널 : 1,2,3, 10.5, 17.22 (정수, 실수)
# 문자열 리터널 : abcd, a, b, 가, 가나다
# 숫자 자료형 (숫자 리터널)
# 문자열 자료형 (문자열 리터널)
print(1)
a = 1 # a(변수)
print(a) # 변수 a
print("i") # 문자열 리터널 i
print("1")
print(1 + 1) # + , - , * , /
print(3 * 2) 
print("1" + "1") # + : 붙이기 연산자
print("3" * 5) # * : 문자열 반복 연산자

1
1
i
1
2
6
11
33333

In [14]:
## 숫자 자료형 : 1,2,3, 10.5, 170.22 (정수 , 실수)
## 문자열 자료형 : "a", "abc", 'abn', 'b', 
##                """a""", '''a'''
## 1(숫자), "1"(문자열) , a(변수), "a"(문자열)

가 = "나"
print("나")
print(가)
a = "이숭무"
print(a)
a = 가
print(a)

나
나
이숭무
나

In [19]:
a = "Life is too short"
#    01234567890123456 # index
#              1
#    76543210987654321 -
#           1
### indexing
print(a[5])
print(a[8])
print(a[16])
print(a[-1])

i
t
t
t

In [27]:
# slicing
a = "Life is too short"
#    01234567890123456 # index
#              1
#    76543210987654321 -
#           1
print(a[8:8+3])
print(a[8:11]) # 8부터 11전까지 
print(a[12:17]) # 12부터 17전까지
print(a[-9:-6])
# Life를 출력하시오
print(a[0:4])
print(a[:4])
# short를 출력
print(a[12:17])
print(a[12:])
print(a[-5:])

too
too
short
too
Life
Life
short
short
short

In [35]:
a = "Life is too short"
#    01234567890123456 # index
#              1
#    76543210987654321 -
#           1
## 처음부터 마지막까지 출력
print(a[0:17])
print(a[:])
print(a)
# 하나씩 띄어서 출력
print(a[::2])
print(a[:4:2])
# 두글자 띄어서 출력
print(a[::3])
# 거꾸로 출력
print(a[::-1])

Life is too short
Life is too short
Life is too short
Lf stosot
Lf
Lesosr
trohs oot si efiL

In [51]:
### 문자열 가공하기 위해서 사용하는 함수
### a : 변수 , 'a' : 문자열, a() : 함수
print("이숭무") # argument : 인자
a = "Life is too short"
print(a)
# 변수 a가 가지고 있는 데이터의 길이 출력
print(len(a))
# 변수 a가 가지고 있는 데이터에서 문자 'o'의 갯수를 출력
print(a.count('o'))
# f문자의 index(위치)번호를 출력하시오.
print(a.find('f'))
print(a.index('f'))
# t문자의 index(위치)번호를 출력하시오.
print(a.find('t'))
print(a.index('t'))
# 문자열의 첫번째 문자의 index를 가져옴
# 'too'에 있는 't'의 index를 가져옴
print(a.find('too')) 
print(a.index('too'))
# s문자의 index(위치)번호를 출력하시오.
print(a.find('s'))# 처음 만나는 문자의 index를 가져옴 
print(a.index('s'))
# index 7번 이후에 있는 's'의 index를 가져오시오.
print(a.index('s',7))
print(a.find('s',7))
# 문자 'u'의 index를 출력하시오.
print(a.find('u'))#없는 문자의 index를 찾는 경우 -1출력
#print(a.index('u'))#index()함수는 없는 문자인 경우 오류

이숭무
Life is too short
17
3
2
2
8
8
8
8
6
6
12
12
-1

In [60]:
a = "Life is too short"
# 변수 a에 있는 문자열을 모두 대문자로 출력
print(a.upper())
# 변수 a에 있는 문자열을 모두 소문자로 출력
print(a.lower())
a = " Life is too short "
print(a)
b = a.strip()
print(b)
b = a.lstrip()
print(b)
b = a.rstrip()
print(b)
a = "abLife is too shortab"
print(a.strip('ab'))
print(a.rstrip('ab'))
print(a.lstrip('ab'))

LIFE IS TOO SHORT
life is too short
 Life is too short
Life is too short
Life is too short
 Life is too short
Life is too short
abLife is too short
Life is too shortab

In [70]:
# Life를 Your leg로 변경
a = "Life is too short"
b = a.replace("Life","Your leg")
print(b)
print(a)
##########
print("==" * 30)
a = "010-7146-1970"
#변수 a에 있는 문자열의 데이터 모두 숫자인지를 확인하시오
print(a.isdigit())
a = "01071461970"
print(a.isdigit())
### 변수 a의 문자열은 모두 영어입니까?
print(a.isalpha())
a = "Life is too short"
print(a.isalpha())
a = "ancdfgdg"
print(a.isalpha())
a = "LIFE"
print(a.isupper())
a = "life"
print(a.islower())

Your leg is too short
Life is too short
============================================================
False
True
False
False
True
True
True

In [71]:
# 자료형
# 숫자 자료형 : 숫자 리터널
#      연산자 : +, -, *, / , %, //, **
# 문자열 자료형 : "a",'a','''a''', """aaa"""
#                "문자 리터널"
#               1(숫자),"1"(문자열),a(변수),"a"(문자열)
# 리스트 자료형 : [] : 
print(1)
print("1")
print([1])

1
1
[1]
1

In [87]:
####변수는 오로지 하나의 데이터만 저장 할 수 있다.
a = 1
print(a)
a = 7
print(a)
a = "이숭무"
print(a)
a = "강참찬"
print(a)
b = 1 + 1
print(b)
b = "1" + "1"
print(b)
name = '이숭무'
age = 35
height = 175.5
add = '경기도'
l = ['이숭무', 35, 172.5, '경기도']
print(name)
print(l[0])
# 리스트 여러 종류의 데이터를 여러개 저장 할 수 있다.
# 리스트를 사용하기 위해서는 index를 사용한다.
a = "Life is too short"
#    01234567890123456
#              1
print(a)
print(a[8])
# 리스트 안에 있는 각각의 데이터를 요소라고 한다.
# 리스트는 각 요소마다 index를 가진다.
l = ['이숭무', 35, 172.5, '경기도']
#       0      1    2       3
print(l[0])
print(l[1])
# 나의 이름은 이숭무이고 나이는 35살이며 키는 175.5이고
# 사는 곳은 경기도입니다.
print(f"나의 이름은 {l[0]}이고 나이는 {l[1]}살이며 키는 {l[2]}이고 사는 곳은 {l[3]}입니다.")
print(f"나의 이름은 {name}이고 나이는 {age}살이며 키는 {height}이고 사는 곳은 {add}입니다.")

1
7
이숭무
강참찬
2
11
이숭무
이숭무
Life is too short
t
이숭무
35
나의 이름은 이숭무이고 나이는 35살이며 키는 172.5이고 사는 곳은 경기도입니다.
나의 이름은 이숭무이고 나이는 35살이며 키는 175.5이고 사는 곳은 경기도입니다.

In [93]:
l = [] # 빈 리스트
l1 = [1,2,3,4] # 숫자 리스트
l2 = ["Life", "is", "too", "short"] # 문자열 리스트
l3 = ['이숭무', 35, 175.5, '경기도'] # 혼합형 리스트
l4 = [1,2,3,[4,5,"Life"]] # 리스트를 포함한 리스트
#     0 1 2      3
print(l4[0]) # 1
print(l4[1]) # 2
print(l4[2]) # 3
print(l4[3]) # [4, 5, 'Life']
print(l4[0] + l4[2]) # 1 + 3 = 4
#print(l4[1] + l4[3]) # print(2 + [4, 5, 'Life'])

1
2
3
[4, 5, 'Life']
4

In [99]:
l4 = [1,2,3,[4,5,"Life"]] 
#     0 1 2      3
print(l4[0])
print(l4[0:3])
print(l4[0:1])
print(l4[2:4]) # [3, [4, 5, 'Life']]
print(l4[2:]) # [3, [4, 5, 'Life']]
print(l4[3]) # [4, 5, 'Life']
#               0  1    2
# "Life"를 가져오시오.
print(l4[3][2])

1
[1, 2, 3]
[1]
[3, [4, 5, 'Life']]
[3, [4, 5, 'Life']]
[4, 5, 'Life']
Life

In [106]:
### 리스트에 있는 데이터를 가공하기 위한 함수
l4 = [1,2,3,[4,5,"Life"]]
#     0 1 2       3
#            0 1    2
print(l4[3][2])
# 삭제
del l4[3] # index3번 요소를 삭제
print(l4)
# 추가 
l4.append(4) #   리스트뒤에 값이 붙는다.
print(l4)
l4.append(5)
l4.append(6)
print(l4)
### 중간에 삽입
l4.insert(2, 10) # 2번 index에 10을 넣는다.
print(l4)
l4.insert(5, 20)
print(l4)
### 여러개의 값을 한번에 추가
l4.extend([7,8,9])
print(l4)

Life
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
[1, 2, 10, 3, 4, 5, 6]
[1, 2, 10, 3, 4, 20, 5, 6]
[1, 2, 10, 3, 4, 20, 5, 6, 7, 8, 9]

In [108]:
l4 = [1, 2, 10, 3, 4, 20, 5, 6, 7, 8, 9]
####  0  1   2  3  4   5  6  7  8  9  10
print(l4)
# 삭제

[1, 2, 10, 3, 4, 20, 5, 6, 7, 8, 9]