In [179]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 40pt;}
div.output { font-size: 16pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 40pt;}
div.prompt { min-width: 100px;}
</style>
"""))

In [ ]:
# 1 ~ 10까지의 합을 구하시오.
i = 1
sum = 0
while i <= 10:
    sum += i
    i += 1
print(sum)

In [178]:
#  리스트에 있는 요소의 합계를 구하시오.
l = [1,2,3,4,5]
#    0 1 2 3 4
i = 0
sum = 0
while i < len(l):
    sum += l[i]
    i += 1
print(sum)

print("==" * 30)
sum = 0
for j in [1,2,3,4,5]: # 리스트나 튜플과 같은 경우에는 for문이용이 편함
    sum += j # 1,2,3,4,5
print(sum)

print("==" * 30)
l = [1,2,3,4,5]
sum = 0
for j in l: # for 문을 사용하는 경우  in연산자를 사용한다.
    sum += j
print(sum)

15
============================================================
15
============================================================
15

In [8]:
t = (1,45, 76, 30)
sum = 0
for j in t:
    print(j) # t에 있는 값을 하나씩 출력
    sum += j
print(sum)

1
45
76
30
152

In [12]:
l = [70, 65, 50, 80, 74, 88, 90, 66, 95, 65]
# 리스트의 값의 평균을 구하시오.
sum = 0
for j in l:
    sum += j
print(sum/len(l))
print("==" * 30)
## 80점이상인 학생을 출력할 때 몇번째 학생인지도 같이 출력하시오.
# 4번째 학생은 80점입니다.
# 6번째 학생은 88점입니다.
# ...
i = 1
for j in l:
    if j >= 80:
        print(f"{i} 번째 학생은 {j}점입니다.")
    i += 1

74.3
============================================================
4 번째 학생은 80점입니다.
6 번째 학생은 88점입니다.
7 번째 학생은 90점입니다.
9 번째 학생은 95점입니다.

In [16]:
# 1 ~ 100까의 합을 구하시오
i = 1
sum = 0 
while i <= 100:
    sum += i
    i += 1
print(sum)

print("==" * 30)
sum = 0
for j in range(1, 101):
    sum += j
print(sum)

5050
============================================================
5050

In [18]:
# for문을 이용해서 원하는 범위의 값을 입력받아 더하시오
start = int(input("시작 숫자를 입력하세요. : ")) # 0
end = int(input("마지막 숫자를 입력하세요. : ")) #100
sum = 0
for j in range(start, end + 1) : # 0,1,2,3,..., 100  
    sum += j
print(sum)
print("==" * 30)
# 입력 받은 수중 짝수만 더하시오.
sum = 0
for j in range(start, end + 1):
    if j % 2 == 0:
        sum += j
print(sum)

print("==" * 30)
sum = 0
for j in range(start, end+1):
    if j % 2 != 0:
        continue
    sum += j
print(sum)

시작 숫자를 입력하세요. : 1
마지막 숫자를 입력하세요. : 100
5050
============================================================
2550
============================================================
2550

In [25]:
l = [(1,2),(3,4),(5,6)]
for j in l:
    print(j)
print("==" * 30)
for (a, b) in l:
    print(a, b , a + b)

print("==" * 30)
l = [(1,2,3), (4,5,6), (7,8,9)]
for (a,b,c) in l:
    print(a + b + c)

print("==" * 30)
l = [(1,2,3), (4,5), (7,8,9)]
for (a,b,c) in l: # 튜플 안에 있는 요소의 갯수가 같아야 한다.
    print(a + b + c)
# for문은 리스트나 튜플 그리고 range()를 이용할 때 주로 사용

(1, 2)
(3, 4)
(5, 6)
============================================================
1 2 3
3 4 7
5 6 11
============================================================
6
15
24
============================================================

ValueError: too many values to unpack (expected 2)

In [ ]:
### 1부터 100까지의 수중 3의 배수만 더하시오.
sum = 0
for j in range(1, 101):
    if j % 3 == 0:
        sum += j
print(sum)

print("==" * 30)
sum = 0
for j in range(1, 101):
    if j % 3 != 0:
        continue
    sum += j
print(sum)

In [38]:
import random
# 1부터 45까지의 수를 lotto라는 리스트에 담으시오. for
lotto = []
for i in range(1, 46):
    lotto.append(i)
print(lotto)
for cnt in range(1, 7):
    index = random.randint(0, len(lotto) -1 )
    num = lotto.pop(index)
    print(num, end = ", ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
15, 45, 31, 12, 18, 14,

In [35]:
lotto =[]
i = 1
while i <= 45:
    lotto.append(i)
    i += 1
print(lotto)
cnt = 1
while cnt <= 6:
    index = random.randint(0, len(lotto) -1 )
    num = lotto.pop(index)
    print(num, end =", ")
    cnt += 1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
35, 33, 42, 45, 32, 37,

In [40]:
### 6단을 출력
for i in range(0, 10):
    print(f"6  * {i} = {6 * i}")
## 7단을 출력
for i in range(0, 10):
    print(f"7  * {i} = {7 * i}")
### 8단을 출력하시오. for
for i in range(0, 10):
    print(f"8  * {i} = {8 * i}")

8  * 0 = 0
8  * 1 = 8
8  * 2 = 16
8  * 3 = 24
8  * 4 = 32
8  * 5 = 40
8  * 6 = 48
8  * 7 = 56
8  * 8 = 64
8  * 9 = 72

In [41]:
for dan in range(6, 9):
    for i in range(0, 10):
        print(f"{dan}  * {i} = {dan * i}")

6  * 0 = 0
6  * 1 = 6
6  * 2 = 12
6  * 3 = 18
6  * 4 = 24
6  * 5 = 30
6  * 6 = 36
6  * 7 = 42
6  * 8 = 48
6  * 9 = 54
7  * 0 = 0
7  * 1 = 7
7  * 2 = 14
7  * 3 = 21
7  * 4 = 28
7  * 5 = 35
7  * 6 = 42
7  * 7 = 49
7  * 8 = 56
7  * 9 = 63
8  * 0 = 0
8  * 1 = 8
8  * 2 = 16
8  * 3 = 24
8  * 4 = 32
8  * 5 = 40
8  * 6 = 48
8  * 7 = 56
8  * 8 = 64
8  * 9 = 72

In [44]:
#  단과 곱의 범위를 입력 받아 출력하시오. for문
startDan = int(input("시작 단을 입력 하시오 : "))
endDan = int(input("마지막 단을 입력 하시오 : "))
startGop = int(input("시작 곱을 입력 하시오 : "))
endGop = int(input("마지막 곱을 입력 하시오 : "))
for dan in range(startDan, endDan + 1):
    for gop in range(startGop, endGop + 1):
        print(f"{dan} * {gop} = {dan * gop}")

시작 단을 입력 하시오 : 1
마지막 단을 입력 하시오 : 2
시작 곱을 입력 하시오 : 3
마지막 곱을 입력 하시오 : 4
1 * 3 = 3
1 * 4 = 4
2 * 3 = 6
2 * 4 = 8

In [48]:
#  범위를 입력 받아 5의 배수만 출력하시오.
start = int(input(" 시작 숫자를 입력 하시오 : "))
end = int(input(" 마지막 숫자를 입력 하시오 : "))
for i in range(start, end + 1): # range에는 int가 들어 간다.
    if i % 5 != 0 :
        continue
        print(i) # 1
    print(i) # 2

 시작 숫자를 입력 하시오 : 1
 마지막 숫자를 입력 하시오 : 2
1
2

In [ ]:
#  범위를 입력 받아 5의 배수만 합계를 구하시오.
start = int(input(" 시작 숫자를 입력 하시오 : "))
end = int(input(" 마지막 숫자를 입력 하시오 : "))
sum = 0
for i in range(start, end + 1): # range에는 int가 들어 간다.
    if i % 5 != 0 :
        continue
        sum += i # 1 : if 문에서 실행되는 sum
                 # continue밑에 있어서 실행 되지 않는다.
    sum += i # 2 :for문에서 실행되는 sum

In [52]:
a = [1,2,3,4,5]
# a리스트에 있는 값을 result라는 리스트에 곱하기 3한값을 저장 하시오.
result = [] 
for i in a:
    result.append(i * 3)
print(result)

print("==" * 30)
result = [i * 3 for i in a]
print(result)

[3, 6, 9, 12, 15]
============================================================
[3, 6, 9, 12, 15]

In [55]:
a = [1,2,3,4,5]
# 홀수만 3을 곱해서 result란 빈 리스트에 저장하시오.
result = []
for i in a:
    if i % 2 != 0:
        result.append(i * 3)
print(result)

print("==" * 30)
result = [i * 3 for i in a if i % 2 != 0]
print(result)

[3, 9, 15]
============================================================
[3, 9, 15]

In [57]:
# result라는 리스트에 구구단의 값을 저장하시오
result = []
for dan in range(1, 10):
    for gop in range(1, 10):
        result.append(dan * gop)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [58]:
result = [dan * gop for dan in range(1, 10)
                    for gop in range(1, 10)]
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [60]:
### 구구단 중 짝수단과 홀수 곱만 곱합값을 result리스트에 저장
result = []
for dan in range(1, 10):
    if dan % 2 == 0:
        for gop in range(1, 10):
            if gop % 2 != 0:
                result.append(dan * gop)
print(result)

[2, 6, 10, 14, 18, 4, 12, 20, 28, 36, 6, 18, 30, 42, 54, 8, 24, 40, 56, 72]

In [61]:
# 리스트를 내포하는 방식
result = [dan * gop for dan in range(1, 10) if dan % 2 == 0
                    for gop in range(1, 10) if gop % 2 != 0]
print(result)

[2, 6, 10, 14, 18, 4, 12, 20, 28, 36, 6, 18, 30, 42, 54, 8, 24, 40, 56, 72]

In [ ]:
# 제어문 : 조건문 : if , if ~ else, if ~ elif ~ ... ~ else
#                 switch ~ case : 딕셔너리
#         반복문 : while, for, 리스트 내포

In [63]:
# 함수 : 코드가 반복적인 때 
# 3단 출력
for gop in range(1, 10):
    print(f"3 * {gop} = {3 * gop}")
# 7단 출력
for gop in range(1, 10):
    print(f"7 * {gop} = {7 * gop}")
# 5단 출력
for gop in range(1, 10):
    print(f"5 * {gop} = {5 * gop}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [64]:
def gugu3(): # 함수
    for gop in range(1, 10):
            print(f"3 * {gop} = {3 * gop}")

In [66]:
gugu3()
gugu3()
gugu3()

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [67]:
def gugu(dan): # dan : 매개변수 : parameter ,para, 가인자
    for gop in range(1, 10):
            print(f"{dan} * {gop} = {dan * gop}")

In [72]:
gugu(3)
gugu(7)
gugu(5)  # 3 : argument, arg, 실인자
# gugu3(2) # parameter가 없는 경우에는 argument를 주면 안된다.
# gugu() # parameter가 있는 경우에는 argument를 주어야 한다.

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [73]:
# 4 ~ 6곱까지 출력
for gop in range(4, 7):
    print(f"3 * {gop} = {3 * gop}")

3 * 4 = 12
3 * 5 = 15
3 * 6 = 18

In [77]:
def gugu1(startGop, endGop):
    for gop in range(startGop, endGop + 1):
        print(f"3 * {gop} = {3 * gop}")

In [78]:
gugu1(4, 7)
# gugu1(4) # parameter의 갯수와 argument의 갯수는 일치해야 한다.

3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21

In [79]:
a = 1
b = 2
print( a  + b )
a = 3
b = 4
print( a  + b )

3
7

In [83]:
def add(a, b):
    print( a  + b )

In [84]:
add(1, 2)
add(3,4)

3
7

In [85]:
gugu(4)
gugu(5)
gugu(6)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [86]:
for i in range(4, 7):
    gugu(i)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [88]:
# 함수 정의
# def 함수명(parameter1, 2,3,...):
#     명령어1
#     명령어2
#     ...
#     return 결과값

# 함수 실행
# 함수명(argument1,2,3,...)

# f(x,y) = 3 + 3x + 4y
# f(3, 5)
def f(x, y):
    return 3 + 3*x + 4*y
result = f(3, 5)
print(result)

32

In [89]:
result = f(4, 7)
print(result)
print(f(4,7))

43
43

In [93]:
# 함수를 선언하는 방법 4가지
# 1. 일반적인 방식 : 입력값이 있고 출력값이 있는 경우 
def add(a, b):
    return a + b # return문에 있는 값을 결과값
                 # 결과값은 실행함수로 전달 

print(add(2, 4)) ## 2, 4 을 입력값
result = add(4, 8) # 12
print(result)

6
12

In [96]:
# 2. 입력값은 없고 결과 값만 있는 경우
def add():
    a = int(input("수를 입력해주세요. :"))
    b = int(input("수를 입력해주세요. :"))
    c = a + b
    return c

In [99]:
result = add() # 7
print(result)

수를 입력해주세요. :3
수를 입력해주세요. :4
7

In [100]:
print(add())

수를 입력해주세요. :2
수를 입력해주세요. :6
8

In [101]:
# 3. 입력값은 있고 결과값은 없다.
def add(a, b):
    print(a + b)

In [103]:
add(3, 4)

7

In [104]:
# 4. 입력값 없고 결과값도 없다.
def add():
    a = int(input("숫자를 입력해주세요"))
    b = int(input("숫자를 입력해주세요"))
    print(a + b)

In [105]:
add()

숫자를 입력해주세요3
숫자를 입력해주세요5
8

In [107]:
# 1 ~ 100까지의 합을 구하시오.
# 1. 입력값도 있고 결과값도 있는 함수
def add(start, end):
    sum = 0
    for i in range(start, end + 1):
        sum += i
    return sum

In [108]:
result = add(1, 100)
print(result)

5050

In [110]:
# 2. 입력이 없고 결과 값이 있는 함수
def add():
    sum = 0
    for i in range(1, 101):
        sum += i
    return sum

In [111]:
result = add()
print(result)

5050

In [113]:
# 3.  입력값은 있고 결과값이 없다,
def add(start, end):
    sum = 0
    for i in range(start, end+1):
        sum += i
    print(sum)

In [114]:
add(1, 100)

5050

In [115]:
# 4.  입력값 없고 결과값도 없다,
def add():
    sum = 0
    for i in range(1, 100+1):
        sum += i
    print(sum)

In [116]:
add()

5050

In [ ]:
def add(a, b):
    return a + b

In [ ]:
result = add(3, 4)

In [119]:
import random
def lottoPlay():
    lotto = [i for i in range(1, 46)]
    for cnt in range(1, 7):
        idx = random.randint(0, len(lotto) - 1)
        num = lotto[idx]
        print(num , end =", ")

In [128]:
lottoPlay()

23, 16, 7, 22, 2, 18,

In [129]:
lottoPlay()

14, 36, 2, 25, 13, 13,

In [130]:
lottoPlay()

8, 15, 4, 7, 30, 26,

In [134]:
c = int(input("구매 수량을 입력하세요. :"))
for y in range(0, c):
    lottoPlay()
    print()

구매 수량을 입력하세요. :5
36, 21, 13, 29, 34, 17,
24, 15, 34, 16, 27, 32,
41, 2, 31, 40, 11, 1,
3, 43, 12, 34, 35, 39,
21, 24, 1, 36, 21, 30,

In [137]:
# 원하는 범위의 값을 입력 받아 합을 구하시오
def sum100():
    start = int(input( "첫번째 숫자를 입력하시오. : "))
    end =  int(input( "마지막번째 숫자를 입력하시오. : "))
    sum = 0
    for i in range(start, end + 1):
        sum += i
    return sum

In [138]:
result = sum100()
print(result)

첫번째 숫자를 입력하시오. : 3
마지막번째 숫자를 입력하시오. : 4
7

In [139]:
### 결과값은 오로지 하나만 전달이 된다.
def add_mul(a, b):
    c = a + b
    d = a * b
    return c, d # 결과값을 여러개를 전달하기 위해 튜플로 묶어서 전달

In [141]:
result = add_mul(3, 4)
print(result)
print(result[0])
print(result[1])

(7, 12)
7
12

In [142]:
a, b = (1, 3)
print(a)
print(b)

1
3

In [143]:
a, b = add_mul(4, 7)
print(a)
print(b)

11
28

In [146]:
# return문의 용도
#1. 값을 반환하는 용도
#2. 함수를 강제 종료 시킨다.
def test(a, b):
    print(a + b)
    return # 함수가 종료되어서 아래 명령어는 실행되지 않는다.
    print(a * b)

In [147]:
test(2,4)

6

In [148]:
def say_myself(name, old, man):
    print("나의 이름은 {0}".format(name))
    print("나의 나이는 {age}".format(age=old))
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [151]:
say_myself("이숭무", 35, True)
say_myself("노사연", 58, False)

나의 이름은 이숭무
나의 나이는 35
남자입니다.
나의 이름은 노사연
나의 나이는 58
여자입니다.

In [152]:
# 매개변수 초기화
def say_myself(name, old, man=True):
    print("나의 이름은 {0}".format(name))
    print("나의 나이는 {age}".format(age=old))
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [156]:
say_myself("이숭무", 35)
# 매개변수에 초기값이 있는 경우 초기값을 사용할 때는 인자를 전달 하지 
# 않아도 된다.
say_myself("노사연", 58, False)

나의 이름은 이숭무
나의 나이는 35
남자입니다.
나의 이름은 노사연
나의 나이는 58
여자입니다.

In [157]:
def say_myself(name, old=35, man):
    print("나의 이름은 {0}".format(name))
    print("나의 나이는 {age}".format(age=old))
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

say_myself("이숭무", True)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_4292/2835951974.py, line 1)

In [158]:
def say_myself(name, old=35, man = True):
    print("나의 이름은 {0}".format(name))
    print("나의 나이는 {age}".format(age=old))
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [161]:
say_myself("이숭무")
say_myself("이숭무", 40)
say_myself("노사연", 58, False)

나의 이름은 이숭무
나의 나이는 35
남자입니다.
나의 이름은 이숭무
나의 나이는 40
남자입니다.
나의 이름은 노사연
나의 나이는 58
여자입니다.

In [162]:
# 전역변수와 지역변수
b = 1 # 전역 변수
def test1():
    b = 100 # 지역 변수
    print(f"함수 안에서 실행된 값 : {b}") #지역변수

test1()
print(b) # 전역변수가 실행이 됨

함수 안에서 실행된 값 : 100
1

In [164]:
b = 1
def test1():
    global b #  전역변수 b
    b = 100
    print(f"함수 안에서 실행된 값 : {b}") #지역변수

In [166]:
print(b)
test1()
print(b)

1
함수 안에서 실행된 값 : 100
100

In [167]:
# lambda 함수(람다 함수)
def add(a, b):
    return a + b
result = add(3, 4)
print(result)

7

In [168]:
add = lambda a , b : a + b 
result = add(4, 5)
print(result)

9

In [169]:
def add_mul(opt, a, b):
    if opt == "add":
        return a + b
    else:
        return a * b
result = add_mul("add", 4, 6)
print(result)

10

In [ ]:
add_mul = lambda opt, a, b : a + b if opt == "add" else a * b

In [170]:
def calu(opt, a, b):
    if opt == "add":
        return a + b
    elif opt == "sub":
        return a - b
    elif opt == "mul":
        return a * b
    else:
        return a / b

def calulator(opt , a, b):
    if opt == "add":
        return a + b
    else:
        if opt == "sub":
            return a - b
        else:
            if opt == "mul":
                return a * b
            else:
                return a / b

In [174]:
calulator = lambda opt , a , b : a + b if opt == "add" else ( \
                                 a - b if opt == "sub" else( \
                                 a * b if opt == "mul" else a / b))

In [176]:
result = calulator("add", 5, 4)
print(result)
result = calulator("sub", 5, 4)
print(result)

9
1

In [180]:
### 파일 입력, 출력
#f = open("C:/Users/user/Desktop/anaconda/test.txt","w")
f = open("test.txt", "w")
f.write("1번째 줄입니다.\n")
f.write("2번째 줄입니다.\n")
f.write("3번째 줄입니다.\n")
f.close()

In [181]:
f = open("test.txt", "w") # 덮어 쓰기
for i in range(1, 11):
    f.write(f"{i}번째 줄입니다.\n")
f.close()

In [183]:
f = open("test.txt", "a") # append : 다음 줄부터 내용을 추가
for i in range(11, 21):
    f.write(f"{i}번째 줄입니다.\n")
f.close()

In [186]:
### 파일 내용 읽기
f = open("test.txt" , "r") # read
line = f.readline()
print(line)
line = f.readline()
print(line)
line = f.readline()
print(line)
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

In [189]:
f = open("test.txt", "r")
while True:
    line = f.readline()
    if line: # 행씩 가져 옴
        print(line)
    else:
        break
f.close()

print("==" * 30)
f = open("test.txt", "r")
while True:
    line = f.readline()
    if not line: # not '' : not False : True
        break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

11번째 줄입니다.

12번째 줄입니다.

13번째 줄입니다.

14번째 줄입니다.

15번째 줄입니다.

16번째 줄입니다.

17번째 줄입니다.

18번째 줄입니다.

19번째 줄입니다.

20번째 줄입니다.

11번째 줄입니다.

12번째 줄입니다.

13번째 줄입니다.

14번째 줄입니다.

15번째 줄입니다.

16번째 줄입니다.

17번째 줄입니다.

18번째 줄입니다.

19번째 줄입니다.

20번째 줄입니다.

============================================================
1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

11번째 줄입니다.

12번째 줄입니다.

13번째 줄입니다.

14번째 줄입니다.

15번째 줄입니다.

16번째 줄입니다.

17번째 줄입니다.

18번째 줄입니다.

19번째 줄입니다.

20번째 줄입니다.

11번째 줄입니다.

12번째 줄입니다.

13번째 줄입니다.

14번째 줄입니다.

15번째 줄입니다.

16번째 줄입니다.

17번째 줄입니다.

18번째 줄입니다.

19번째 줄입니다.

20번째 줄입니다.

In [199]:
f = open("test.txt","r")
lines = f.readlines()
print(lines)

for line in lines:
    print(line)
    
print("".join(lines))

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n', '11번째 줄입니다.\n', '12번째 줄입니다.\n', '13번째 줄입니다.\n', '14번째 줄입니다.\n', '15번째 줄입니다.\n', '16번째 줄입니다.\n', '17번째 줄입니다.\n', '18번째 줄입니다.\n', '19번째 줄입니다.\n', '20번째 줄입니다.\n', '11번째 줄입니다.\n', '12번째 줄입니다.\n', '13번째 줄입니다.\n', '14번째 줄입니다.\n', '15번째 줄입니다.\n', '16번째 줄입니다.\n', '17번째 줄입니다.\n', '18번째 줄입니다.\n', '19번째 줄입니다.\n', '20번째 줄입니다.\n']

In [196]:
l = ["1","2","3","4","5"]
print(l)
print(" ".join(l))
print("".join(l))
s = "python"
print(",".join(s))

['1', '2', '3', '4', '5']
1 2 3 4 5
12345
p,y,t,h,o,n

In [202]:
f = open("test.txt", "r")
data = f.read()
print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
16번째 줄입니다.
17번째 줄입니다.
18번째 줄입니다.
19번째 줄입니다.
20번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
16번째 줄입니다.
17번째 줄입니다.
18번째 줄입니다.
19번째 줄입니다.
20번째 줄입니다.

In [204]:
f = open("test1.txt", "w")
for i in range(1, 20):
    f.write(f"{i}번째 줄입니다.\n")
f.close()
f = open("test1.txt", "r")
data = f.read()
f.close()
print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
16번째 줄입니다.
17번째 줄입니다.
18번째 줄입니다.
19번째 줄입니다.

In [207]:
with open("test2.txt","w") as f:
    for i in range(1, 11):
        f.write(f"{i}번째 줄입니다.\n")
with open("test2.txt","r") as f:
    data = f.read()
print(data)

with open("test2.txt", "a") as f:
    for i in range(11, 21):
        f.write(f"{i}번째 줄입니다.\n")
with open("test2.txt","r") as f:
    data = f.read()
print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
16번째 줄입니다.
17번째 줄입니다.
18번째 줄입니다.
19번째 줄입니다.
20번째 줄입니다.